* {
  box-sizing: border-box;
}

body {
  /* background: radial-gradient(circle, hsl(229, 66%, 60%) 0%, hsl(229, 66%, 40%) 100%); */
  background: radial-gradient(circle, hsl(198, 100%, 76%), hsl(200, 77%, 42%));
  color: white;
  margin: 0;
}


